<div class="modal fade" id="edit_category" tabindex="-1" role="dialog" aria-labelledby="edit_category" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit_category">Редактирование категории</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'notes:edit_category' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Название категории:</label>
                        <input type="text" class="form-control" id="name_category" name="name_category" required value="">
                        <input name="id_category" type="hidden" id="id_category" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохраниеть</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    $('#edit_category').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var id = button.data('id')
        var name = button.data('name')
        var modal = $(this)
        document.getElementById('name_category').setAttribute("value", name)
        document.getElementById('id_category').setAttribute("value", id)
    })
</script>