{% extends 'notes/base.html' %}
{% load static %}


{% block content %}
    <div class="add-row">
        <div class="list-group-center col">
            <form action="{% url 'notes:add_category' %}" method="POST" class="form-inline">
                {% csrf_token %}
                <input class="form-control mr-sm-2" name="name" type="search" required placeholder="Название категории" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Добавить</button>
            </form>
        </div>
    </div>
    <br>
    <ul class="list-group-center col">
        <li class="list-group-item active h5">{{ title_block }}</li>
        {% if list %}
            {%  for a in list %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'notes:list_notes' a.id %}" class="list-group ">{{ a.category_title }}</a>
                    <div class="btn-group" role="group">
                        <a  data-toggle="modal" data-target="#edit_category" data-id="{{ a.id }}" data-name="{{ a.category_title }}" class="list-group"><img src="{% static "notes/img/rename_icon.png" %}" alt="..." class="img-circle" width="50%"></a>
                        <a href="{% url 'notes:delete_category' a.id %}" class="list-group"><img src="{% static "notes/img/delete_icon.png" %}" alt="..." class="img-circle" width="50%"></a>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">Категории отсутствуют</li>
        {% endif %}
    </ul>





{% endblock %}