{% extends 'notes/base.html' %}

{% block content %}

    <div class="card">
        <div class="card-body">
            {% if flag_add == False %}

                    <div  class="col">
                        <form action="{% url 'notes:edit_name' result.category.id result.id %}" method="post" name="data_content" id="data">
                            {% csrf_token %}
                            <div class="form-group mb-3>
                                <label for="exampleFormControlInput1">Название</label>
                                <input name="name_note" type="text" value="{{ result.name_note }}" class="form-control mb-1" id="exampleFormControlInput1" required placeholder="">
                                <label for="exampleFormControlTextarea1">Текст</label>
                                <textarea id="text_note" name="text_note" class="form-control" id="exampleFormControlTextarea1" required rows="3" >{{ result.text_note }}</textarea>
                            </div>
                        </form>
                            <div class="row">
                                    <input form="data" name="password" id="pass_note" type="password" class="form-control col-7 ml-3" id="password" required placeholder="Пароль">
                                    <button id="dencoding" class="btn btn-primary col ml-1 mr-2">Расшифровать</button>
                            </div>

                            <div class="row justify-content-center">
                                <button disabled form="data" type="submit" id="buttonSave" class="btn btn-primary col-4 mt-3 mb-2">Сохранить</button>
                            </div>
                    </div>

                {% else %}
                        <h5 class="card-title ml-3">Создание заметки</h5>
                        <hr align="center" color="gray" />
                        <div  class="col">
                            <form action="" method="post" name="data_content">
                                {% csrf_token %}
                                <div class="form-group >
                                    <label for="exampleFormControlInput1">Название</label>
                                    <input type="text" value="" id="name_note" name="name_note" class="form-control" required placeholder="">
                                    <label for="exampleFormControlTextarea1">Текст</label>
                                    <textarea class="form-control" id="text_note" name="text_note"rows="3" required></textarea>
                                </div>
                                <div class="row">
                                    <input type="password" id="pass_note" class="form-control col-7 ml-3" name="password" required placeholder="Пароль">
                                    <button type="submit" id="buttonCreat" class="btn btn-primary col ml-1 mr-3">Сохранить</button>
                                </div>
                            </form>
                        </div>
            {% endif %}
        </div>
    </div>

    <script>
        $("#dencoding").click(function() {
            encoding()
        });

        function encoding() {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let textNote = document.getElementById("text_note");
            let keyNote = document.getElementById("pass_note").value;
            let encodingNote = {
                idNote: {{ result.id }},
                keyNote: keyNote
            };
            fetch('{% url 'notes:decoding' %}',{
                mode: 'same-origin',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(encodingNote)
                }).then(function (response) {
                    response.text().then(function (data) {
                        if (data == 'None'){
                            alert('Пароль неверный')
                        }else{
                            textNote.value = data
                            document.getElementById("buttonSave").disabled=false
                            document.getElementById("dencoding").disabled=true
                        }

                })
            });

        }



    </script>


{% endblock %}