{% extends 'notes/base.html' %}
{% load static %}

{% block content %}

    <div class="add-row">
        <div class="list-group-center col">
            <div class="row justify-content-around">
                <a href="{% url 'notes:index' %}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Категории</a>
                <a href="{% url 'notes:add_note' id_category %}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Добавить</a>

            </div>
        </div>
    </div>
    <br>
    <div class="list-group-center col">
        <li class="list-group-item active h5">Заметки</li>
        {% if list %}
            {%  for a in list %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'notes:notes_detail' a.category.id a.id %}" class="list-group ">{{ a.name_note }}</a>
                    <div class="btn-group" role="group" aria-label="">
                        <a href="{% url 'notes:delete_note' a.category.id a.id %}" class="list-group"><img src="{% static "notes/img/delete_icon.png" %}" alt="..." class="img-circle" width="50%"></a>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <p class="list-group-item list-group-item-action">Заметки отсутствуют Alll</p>
        {% endif %}
        <br>

    </div>


{% endblock %}