{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="card">
        <div class="card-body">

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block">Войти</button>
            </form>
            <a href="{% url 'register:register' %}">Регистрация</a>
        </div>
    </div>
{% endblock %}
