{% extends 'registration/base.html' %}


{% block title%} Регистрация {% endblock%}
{% block title1%} Регистрация {% endblock%}

{% load crispy_forms_tags %}

{% block main %}  <form method = "POST" class = "form-group" >
    {% csrf_token%}

    {{form | crispy}}

    <button type = "submit" class = "btn btn-success">Зарегистрироваться</button></form>
{% endblock %}